@tailwind base;
@tailwind components;
@tailwind utilities;

.text-fields {
  @apply appearance-none 
  block 
  w-full border 
  border-gray-300
  focus:ring-blue-500 
  focus:border-blue-500 
  disabled:bg-gray-100 
  disabled:cursor-not-allowed 
  rounded-md 
  text-sm 
  sm:text-sm 
  h-9 
  px-4 
  mb-2 
  active:outline-none;
}

.text-fields-error {
  @apply appearance-none 
    block 
    w-full 
    border 
    border-red-500 
    rounded-md 
    text-sm 
    sm:text-sm 
    h-9 
    px-4 
    mt-2 
    active:outline-none
    focus:ring-red-500;
}
